In [1]:
import mysql.connector as conn

In [2]:
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [3]:
cursor=mydb.cursor()

In [6]:
cursor.execute('create database ayush1')

DatabaseError: 1007 (HY000): Can't create database 'ayush1'; database exists

In [7]:
cursor.execute('use ayush1')

In [8]:
cursor.execute('create table worker(first_name varchar(250),last_name varchar(250),salary int,age int,department varchar(250))')

ProgrammingError: 1050 (42S01): Table 'worker' already exists

In [8]:
cursor.execute("insert into worker values ('ayush','kumar',1000,1,'CS'),('kk','rk',2000,2,'ME'),('GK','LK',3000,3,'KJ'),('LP','PO',4000,4,'CSE')")

In [4]:
cursor.execute('select * from worker')

ProgrammingError: 1046 (3D000): No database selected

In [5]:
cursor.fetchall()

InterfaceError: No result set to fetch from.

In [11]:
##1
cursor.execute('select substring(first_name,1,3) from worker')
cursor.fetchall()

[('ayu',), ('kk',), ('GK',), ('LP',)]

In [21]:
##2
cursor.execute("select charindex('a','ayush') from worker")

ProgrammingError: 1305 (42000): FUNCTION ayush1.charindex does not exist

In [19]:
cursor.execute("insert into worker values ('rishu','kumar',3000,1,'CS'),('chhotu','rk',20000,2,'ME'),('GK','LK',3000,3,'KJ'),('LP','PO',4000,4,'CSE')")
mydb.commit()

In [20]:
cursor.execute('select * from worker')

In [21]:
cursor.fetchall()

[('ayush', 'kumar', 1000, 1, 'CS'),
 ('kk', 'rk', 2000, 2, 'ME'),
 ('GK', 'LK', 3000, 3, 'KJ'),
 ('LP', 'PO', 4000, 4, 'CSE'),
 ('rishu', 'kumar', 3000, 1, 'CS'),
 ('chhotu', 'rk', 20000, 2, 'ME'),
 ('GK', 'LK', 3000, 3, 'KJ'),
 ('LP', 'PO', 4000, 4, 'CSE'),
 ('rishu', 'kumar', 3000, 1, 'CS'),
 ('chhotu', 'rk', 20000, 2, 'ME'),
 ('GK', 'LK', 3000, 3, 'KJ'),
 ('LP', 'PO', 4000, 4, 'CSE')]

In [22]:
##3
cursor.execute('select department,max(salary),first_name from worker group by department')

In [23]:
cursor.fetchall()

[('CS', 3000, 'ayush'),
 ('ME', 20000, 'kk'),
 ('KJ', 3000, 'GK'),
 ('CSE', 4000, 'LP')]

In [ ]:
curso