In [1]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [2]:
cursor=mydb.cursor()

In [3]:
cursor.execute('create database ayush2')

In [4]:
cursor.execute('use ayush2')

In [8]:
cursor.execute('create table worker(first_name varchar(250),salary int,department varchar(250))')

In [9]:
cursor.execute("insert into worker values('ayush  ',10000,'CSE'),('krishna  ',40000,'ME')")

In [10]:
cursor.execute('select * from worker')

In [11]:
cursor.fetchall()

[('ayush  ', 10000, 'CSE'), ('krishna  ', 40000, 'ME')]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [12]:
##1
cursor.execute('select trim(first_name) from worker')

In [13]:
cursor.fetchall()

[('ayush',), ('krishna',)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [15]:
##2
cursor.execute("select distinct(department),length(department) from worker")

In [16]:
cursor.fetchall()

[('CSE', 3), ('ME', 2)]

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [17]:
##3 nth 
cursor.execute('select salary from worker limit 2 offset 1')

In [18]:
cursor.fetchall()

[(40000,)]