In [6]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [7]:
cursor=mydb.cursor()

In [8]:
cursor.execute('create database ayush6')

In [9]:
cursor.execute('use ayush6')

In [10]:
cursor.execute('create table worker (id int,name varchar(250))')

In [11]:
cursor.execute("insert into worker values(1,'ayush'),(2,'KK'),(3,'rishu'),(4,'aman')")

In [12]:
cursor.execute('select * from worker')

In [13]:
cursor.fetchall()

[(1, 'ayush'), (2, 'KK'), (3, 'rishu'), (4, 'aman')]

# Q-13. Write an SQL query to show only odd rows from a table.

In [14]:
cursor.execute('select * from worker where mod(id,2)<>0')

In [15]:
cursor.fetchall()

[(1, 'ayush'), (3, 'rishu')]

# Q-14. Write an SQL query to clone a new table from another table.

In [21]:
cursor.execute('create table worker_clone(id int,name varchar(255))')

ProgrammingError: 1050 (42S01): Table 'worker_clone' already exists

In [24]:
cursor.execute('SELECT * INTO worker_clone FROM worker' )

ProgrammingError: 1327 (42000): Undeclared variable: worker_clone

In [5]:
cursor.execute('drop database ayush6')