In [1]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [2]:
cursor=mydb.cursor()

In [3]:
cursor.execute('create database ayush5')

In [4]:
cursor.execute('use ayush5')

In [5]:
cursor.execute('create table worker(first_name varchar(250),email varchar(250))')

# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [6]:
## 
#cursor.execute("select * from worker where doj ='Feb'2014 ")

# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [7]:
## SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*)
#FROM Title
#GROUP BY WORKER_TITLE, AFFECTED_FROM
#HAVING COUNT(*) > 1;

# Q-3. How to remove duplicate rows from Employees table.

In [8]:
# delete from employee where name, id in ( select name,id from employee group by name,id having count(*)>1)