In [1]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [2]:
cursor=mydb.cursor()

In [3]:
cursor.execute('create database ayush8')

In [4]:
cursor.execute('use ayush8')

In [5]:
cursor.execute('create table worker (id int , name varchar(255))')

In [6]:
cursor.execute('select * from worker')

In [7]:
cursor.fetchall()

[]

In [9]:
cursor.execute("insert into worker values (1,'ayush'),(2,'KK')")

In [14]:
cursor.execute("insert into worker_2 values(3,'rishu'),(4,'pp')")

In [13]:
cursor.execute('create table worker_2 (id int , name varchar(255))')

In [ ]:
##1 Intersection of two tables

In [21]:
cursor.execute("select * from worker intersect select * from worker_2")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select * from worker_2' at line 1

In [ ]:
## 2 value present in one table not present in another table

In [25]:
cursor.execute('select * from worker minus select * from worker_2')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select * from worker_2' at line 1