In [1]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [2]:
cursor=mydb.cursor()

In [3]:
cursor.execute('create database ayush3')

In [4]:
cursor.execute('use ayush3')

In [5]:
cursor.execute('create table worker(first_name varchar(250),salary int,department varchar(250))')

In [6]:
cursor.execute("insert into worker values('ayush',10000,'CSE'),('krishna',40000,'ME')")

In [7]:
cursor.execute('select * from worker')

In [8]:
cursor.fetchall()

[('ayush', 10000, 'CSE'), ('krishna', 40000, 'ME')]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [9]:
cursor.execute("Select REPLACE(FIRST_NAME,'a','A') from Worker;")

In [10]:
cursor.fetchall()

[('Ayush',), ('krishnA',)]

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [11]:
cursor.execute('select * from worker order by first_name asc, department desc ')

In [12]:
cursor.fetchall()

[('ayush', 10000, 'CSE'), ('krishna', 40000, 'ME')]

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [13]:
cursor.execute('select first_name from worker order by salary desc')

In [14]:
cursor.fetchall()

[('krishna',), ('ayush',)]