In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ayush\anaconda3\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\ayush\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

WARNING: Ignoring invalid distribution -umpy (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\ayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\ayush\anaconda3\lib\site-packages)

In [4]:
mydb=conn.connect(host="localhost",user="root", passwd="1234")

In [29]:
import logging 
logging.basicConfig(filename='home.log',level=logging.INFO)

In [30]:
import mysql.connector as conn
logging.info('connector created')

In [5]:
cursor=mydb.cursor()

In [8]:
cursor.execute('create database ayush')

In [9]:
cursor.execute('use ayush')

In [10]:
cursor.execute('create table worker(first_name varchar(250),last_name varchar(250),salary int,age int,department varchar(250))')

In [15]:
cursor.execute("insert into worker values ('ayush','kumar',1000,1,'CS'),('kk','rk',2000,2,'ME'),('GK','LK',3000,3,'KJ'),('LP','PO',4000,4,'CSE')")

In [17]:
cursor.execute('select * from worker')

In [18]:
cursor.fetchall()

[('ayush', 'kumar', 1000, 1, 'CS'),
 ('kk', 'rk', 2000, 2, 'ME'),
 ('GK', 'LK', 3000, 3, 'KJ'),
 ('LP', 'PO', 4000, 4, 'CSE')]

In [22]:
cursor.execute('select first_name as worker_name from worker')

In [23]:
##1.
cursor.fetchall()

[('ayush',), ('kk',), ('GK',), ('LP',)]

In [24]:
## 2
cursor.execute('select distinct department from worker')

In [25]:
cursor.fetchall()

[('CS',), ('ME',), ('KJ',), ('CSE',)]

In [26]:
##3
cursor.execute('select * from worker order by salary desc limit 5')

In [27]:
cursor.fetchall()

[('LP', 'PO', 4000, 4, 'CSE'),
 ('GK', 'LK', 3000, 3, 'KJ'),
 ('kk', 'rk', 2000, 2, 'ME'),
 ('ayush', 'kumar', 1000, 1, 'CS')]